<link rel="stylesheet" href="/css/Menu.css">
<div class="Menu-Box" id="MenuContainer">
  <h2><a href = '/dashboard2'><button class="button" >Go Back</button></a>
    <%= user2.resname%>  <button class="button" onclick="addDish(0,<%=i+1%>)">Add New Dish</button></h2>

<% let title="add dish"; %>
<%= typeof msg != 'undefined' ? msg : '' %>
    <%for(var i=0;i<Menu.length;i++){%>
    <div class="card-box">
      <div class="info-column">
        <%if (Menu[i].cusine === "indian") { %>
        <img src="/images/img31.jpg"><br>
        <% } %>
        <%if (Menu[i].cusine === "italian") { %>
        <img src="/images/img32.jpg"><br>
        <% } %>
        <%if (Menu[i].cusine === "chinese") { %>
        <img src="/images/img33.png"><br>
        <% } %>
        <span><b><%= Menu[i].dishname%></b></span><br>
        <span><b>Price: Rs.</b></span>
        <span><b><%= Menu[i].dishprice%></b></span>
      </div>
      <div class="info-column">
        <span><b>Category: </b></span>
        <span><b><%= Menu[i].category%></b></span>
      </div>
      <div class="info-column">
        <span><b>Cusine: </b></span>
        <span><b><%= Menu[i].cusine%></b></span>
      </div>
      <div class="info-column">
        <span><b>Type: </b></span>
        <span><b><%= Menu[i].foodtype%></b></span>
      </div>
      <div id="icon">
      <button class="button1" onclick="addDish(0,<%=i%>);">EDIT</button>
      <a href="/user2/Menu/delete/<%= Menu[i].dishno %>"><button class="button1">DELETE</button></a>
      </div>
    </div>
    <%}%>
  </div>


  <div class="modaltop">
  <div class="modal-container" style="display: none;" id="modal-container">
    <div class="modal">
      <span onclick="closeModal()" class="close">&times;</span>
      <div class="modal-header">
      <span><h3 style="color: white;" id="form-title"></h3></span>
      </div>
      <form class="modal-form" method="POST" action="/user2/Menu">
        <div>
          <label><b>Dish Name : </b></label>
          <input
            type="text"
            name="dishname"
            id="dishname"
            placeholder="Enter Dish Name"
          />
        </div>
        <div>
        <label><b> Dish Price: </b></label>
        <input
          type="text"
          name="dishprice"
          id="dishprice"
          placeholder="Enter Dish Price"
        />
      </div>
      <div>
      <label><b>Dish Cusine: </b>
        <input type="radio" name="cusine" class= "cusine" value="indian" checked><b> Indian </b>
        <input type="radio" name="cusine" class= "cusine"  value="chinese"  ><b> Chinese</b>
        <input type="radio" name="cusine" class= "cusine"  value="italian"><b> Italian </b><br>
     </label>
      </div>
      <div>
      <label><b>Dish Category:</b> 
        <input type="radio" name="category" class= "category" value="starter" checked><b> Starters</b>
        <input type="radio" name="category" class= "category"  value="main course"> <b>Main Course</b>
        <input type="radio" name="category" class= "category"  value="dessert"><b> Desserts And Refreshments </b><br>
     </label>
      </div>
      <div>
      <label><b>Dish Type:</b> 
        <input type="radio" name="foodtype" class= "foodtype"  value="veg" checked><b> Vegetarian</b>
        <input type="radio" name="foodtype" class= "foodtype"  value="non-veg"><b> Non-Vegetarian </b>
     </label>
      </div>
      <button type="submit" class="button">Save</button>
      </form>
    </div>
  </div>
  </div>
    


<script>const addDish = (val,i) => {
  const title = document.getElementById('form-title');
  if(!val){
    title.innerHTML= "Edit Dish";
    const modal = document.getElementById("modal-container");
    modal.style.display = "flex";
    modal.style.animation = "modalFadeIn 0.5s";
    document.getElementById("dishname").setAttribute("value", <%- JSON.stringify(Menu) %>[i].dishname);
    document.getElementById("dishprice").setAttribute("value", <%- JSON.stringify(Menu) %>[i].dishprice);
    document.getElementsByClassName("cusine").setAttribute("value", <%- JSON.stringify(Menu) %>[i].cusine);
    document.getElementsByClassName("category").setAttribute("value", <%- JSON.stringify(Menu) %>[i].category);
    document.getElementsByClassName("dishtype").setAttribute("value", <%- JSON.stringify(Menu) %>[i].foodtype);
    const form = document.getElementsByTagName("form")[0];
    form.action = `/user2/Menu/${<%- JSON.stringify(Menu) %>[i].dishno}`
  }
  else{
    title.innerHTML= "Add Dish";
    document.getElementById("dishname").setAttribute("value", '');
    document.getElementById("dishprice").setAttribute("value", '');
    document.getElementsByClassName("cusine").setAttribute("value", '');
    document.getElementsByClassName("category").setAttribute("value", '');
    document.getElementsByClassName("foodtype").setAttribute("value", '');
    const form = document.getElementsByTagName("form")[0];
    form.action = `/user2/Menu`
    

    const modal = document.getElementById("modal-container");
    modal.style.display = "flex";
    modal.style.animation = "modalFadeIn 0.5s";

  }
  }
  const closeModal = () => {
    const modal = document.getElementById("modal-container");
    modal.style.animation = "modalFadeOut 0.5s";
    setTimeout(() => {
      modal.style.display = "none";
    }, 400);
  }

    </script>