<link rel="stylesheet" type="text/css" href="css/restaurant.css">
<h2><%= user2.resname %></h2>
<div class="menubox">
    <%for(var i=0;i<Menu.length;i++){%>
   <div class="box-zone">
    <form method="post" action="/user1/cart" id="register1">
    <h3> Dish Name: <%= Menu[i].dishname%> </br>  Price: <%= Menu[i].dishprice%></br> Rating: <%= Menu[i].ratingdish%>/5</h3>
    <label>Quantity:
        <input type="number" value="0" name="quantity">
        </label>
        <input type="hidden" name="dishname" value="<%= Menu[i].dishname%>">
        <input type="hidden" name="dishprice" value="<%= Menu[i].dishprice%>">
        <input type="hidden" name="dishno" value="<%= Menu[i].dishno%>">
        <br>
        <input type="submit" value="Add To Cart">
    </form>
  </div>
 <% } %>
 <br>
 <a href='/user1/cart'><button>ORDER NOW</button></a><br>
</div>
<br>

<!-- <script type="text/javascript" src="/script/cart.js"></script> -->
